body{
    margin-left: 100px;
}
.doni{
    margin-left: 20px;
}
.doni3{
    margin-left: 20px;
}
.doni4{
    margin-left: 20px;
}
.doni5{
    margin-left: 20px;
}
.doni6{
    margin-left: 20px;
}
.doni7{
    margin-left: 20px;
}
.doni8{
    margin-left: 20px;
}
.doni9{
    margin-left: 20px;
}